<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/form.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs', { isAuthenticated: isAuthenticated }) %>

      <!--小標 -->
      <div Class="smalltitle">首頁 > 會員登入</div>

      <main>
        <form class="system-form" action="/login" method="POST">
          <div class="form-control">
            <label for="email">電子信箱</label>
            <input type="email" name="email" id="email">
          </div>
          <div class="form-control">
            <label for="password">密碼</label>
            <input type="password" name="password" id="password">
          </div>
          <div class="btn__container">
            <button class="btn btn-login" type="submit">登入</button>
            <button class="btn btn-logout" type="button" onclick="location.href=('/signup')">註冊</button>
          </div>

        </form>
      </main>
      <%- include('../includes/footer.ejs') %>
  </body>

  </html>