<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/all-system.css">

  <link rel="stylesheet" href="/css/system-type.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs', { isAuthenticated: isAuthenticated }) %>
      <main>
        <div class="title-content">
          <!--小標 -->
          <div Class="smalltitle">首頁 > 運費平攤</div>
        </div>


        <div class="container">
          <a href="/system-feeIn" class="circle"><span>國內平台</span></a>
          <a href="/system-feeOut" class="circle"><span>海外平台</span></a>
        </div>
      </main>

      <%- include('../includes/footer.ejs') %>
  </body>

  </html>