<form action="/cart" method="post">
    <input type="number" name="quantity" id="quantity">
    <button class="btn" type="submit">我要倂！</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>
<!-- <form action="/like" method="POST">
    <button class="btn" type="submit">收藏</button>
    <input type="hidden" name="favorite">
</form> -->