<footer>
  <div class="footer-container">
    <div>
      <p style="font-size:20px;">組員：徐以潔、張捷婷</p>
    </div>
    <div>
      <img id="" src="img/ig.png" />
      <img id="" src="img/fb.png" />
      <img id="" src="img/line.png" />
    </div>
  </div>
</footer>