<footer>
  <div class="footer-container">
    <div>
      <p style="font-size:20px;">組員：徐以潔、張捷婷</p>
    </div>
    <div>
      <img id="" src="/img/contact/ig.png" />
      <img id="" src="/img/contact/fb.png" />
      <img id="" src="/img/contact/line.png" />
    </div>
  </div>
</footer>