.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__deadline {
  text-align: center;
}

section {
  margin: 0 auto;
  max-width: 1140px;
}

.title-content {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1140px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

main {
  min-height: 1140px;
}