<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs', { isAuthenticated: isAuthenticated }) %>
            <div class="wrapper">
                <div>
                    <img class="image" id="" src="/img/banner.jpg" />
                </div>

                <div class="content">
                    <div class="left-content">
                        <h2>創作理念</h2>
                        <p>
                            一個讓使用者可以快速找到人一起免運、併單、團購的平台</p>
                    </div>
                    <div class="right-content">
                        <p>
                            運費太貴?商品太多?團購優惠? 讓我們一同共享購物的樂趣。
                            在這裡，每個人都是購物的夥伴！
                        </p>
                    </div>
                </div>

                <div class="up">
                    <a href="#"><img id="up-icon" src="img/up.png" /></a>
                </div>
            </div>
            <%- include('../includes/footer.ejs') %>
    </body>

    </html>